<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>{{#if pageTitle}} {{pageTitle}} {{else}} SunLight WebView {{/if}}</title>

  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="viewport"
    content="width=device-width{{#unless external}}, initial-scale=1,minimum-scale=1, maximum-scale=1 {{/unless}}">

  <link rel="stylesheet" type="text/css" href="/resources/css/uikit.min.css">
  <link rel="stylesheet" type="text/css" href="/resources/css/smooth-scrollbar.css">
  <link rel="stylesheet" type="text/css" href="/resources/css/common.css">
  {{#if external}}
  <link rel="stylesheet" type="text/css" href="/resources/css/external.css">
  {{/if}}
  {{#each stylesheets}}
  <link rel="stylesheet" type="text/css" href="{{this}}">
  {{/each}}
</head>

{{{body}}}

</html>