<div id="outer">
  <div id="inner">
    <div id="header">
      {{{header "APanel" this}}}
    </div>

    <div id="body">
      <center>WIP</center>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
   
    $("#external").attr("href", getExternalUrl())
  })
</script>