extends ../../includes/head.pug

block body
  #outer
    #inner
      #header
        include ../../includes/header.pug
            
      #body
        div(class="uk-margin uk-text-center") 
          h3 Sorry, but this page is not finished :(
          h4 Come back later!

  include ../../includes/changeLanguage.pug