if userId != 0
  ul(class="uk-navbar-nav")
    li
      a(class="no-hover")
        // todo: our icon hosting
        img(src="https://card.niconi.co.ni/asset/assets/image/units/u_normal_icon_41007006.png" style="height: 40px;")