@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
body {
  font-size: 22px;
  padding: 0 2px;
  -webkit-text-size-adjust : 100%;
}
html, body {
  margin: 0;
}

/* SL NavBar */
.sl-navbar-container:not(.uk-navbar-transparent) {
  background: linear-gradient(to left, #28a5f5, #1e87f0);
  border-radius: 9px;
}

.sl-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li>a {
  color: rgba(255,255,255,0.8);
  font-size: 25px;
  min-height: 57px;
  text-transform: none;
}

.sl-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li.uk-active>a {
  color: #fff;
  font-size: 25px;
  text-transform: none;
}

#outer {
  background-color: white;
  border: 2px solid white;
  border-radius: 14px;
  box-shadow: 3px 3px 0 0 #cecccd;
  display: block;
  margin: 0 3px 3px 0;
  height: 98vh;
}

#inner {
  border: 2px solid #1e87f0;
  border-radius: 12px;
  height: 99%;
}

#header {
  margin-bottom: -3px;
  padding: 3px;
  position: relative;
}

#body {
  height: 459px;
  margin: 5px 3px 5px;
  padding: 0 19px 0 13px;
  position: relative;
}

.title {
  margin: 3px;
  background: linear-gradient(to left, #28a5f5, #1e87f0);
  border-radius: 9px;
  color: white;
  font-size: 32px;
  font-weight: bold;
  height: 57px;
  line-height: 57px;
  padding: 0 2px 0 50px;
  text-align: center;
}

/* SL Headers */
h1, h2, h3, h4, h5, h6 {
  background-color: white;
  margin: 0 !important;
}

/* SL announce detail */
.insert-date {
  text-align: right;
}
.sl-icon-button {
  background: white;
  border: 4px solid #5bb7f0;
  border-radius: 12px;
  left: 8px;
  height: 40px;
  position: absolute;
  top: 11px;
  width: 40px;
}

ol, ul {
  padding-left: 30px;
  margin: 0;
}

/* SL ScrollBar */
.ps__rail-x,
.ps__rail-y {
  background-color: #c6dcff !important;
  border-radius: 10px !important;
  display: block !important;
  opacity: 0.8 !important;
}
.ps__rail-x {
  height: 6px !important;
}
.ps__rail-y {
  width: 6px !important;
}
.ps__thumb-x,
.ps__thumb-y {
  background-color: #4286f4 !important;
  border-radius: 10px !important;
  opacity: 0.8 !important;
}
.ps__thumb-x {
  height: 6px !important;
  bottom: 0;
}
.ps__thumb-y {
  width: 6px !important;
  right: 0;
}

/* SL Profile */
.avatar-border {
  height: 107px;
  width: 107px;
  border-radius: 100%;
  box-shadow: 0 0 13px rgba(0, 0, 0, .7);
  -webkit-box-shadow: 0 0 13px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 0 13px rgba(0, 0, 0, .7);
  margin-top: 10px;
  background-position: center;
  background-repeat: no-repeat;
}