@charset "utf-8";

body {
  -webkit-text-size-adjust: 100%;
  background: transparent;
}

/* SL NavBar */
.sl-navbar-container:not(.uk-navbar-transparent) {
  background: linear-gradient(to left, #28a5f5, #1e87f0);
  border-radius: 9px;
}

.sl-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li>a {
  color: rgba(255,255,255,0.8);
  font-size: 16px;
  min-height: 50px;
}

.sl-navbar-container:not(.uk-navbar-transparent) .uk-navbar-nav>li.uk-active>a {
  color: #fff;
  font-size: 16px;
}

#outer {
  background-color: white;
  border: 2px solid white;
  border-radius: 14px;
  box-shadow: 3px 3px 0 0 #cecccd;
  display: block;
  margin: 0 3px 3px 0;
  height: calc(100vh - 8px);
  width: calc(100vw - 8px);
  bottom: auto;
  right: auto;
}

#inner {
  border: 2px solid #1e87f0;
  border-radius: 12px;
  height: calc(100% - 5px);
}

#header {
  padding: 3px;
  position: relative;
}
#body {
  margin: 5px 3px 5px;
  padding: 0 19px 0 13px;
  position: relative;
  height: calc(100vh - 80px);
}


/* SL Headers */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px !important;
  margin-top: 10px !important;
}

/* SL announce detail */
.insert-date {
  text-align: right;
}
.sl-icon-button {
  background: white;
  border: 4px solid #5bb7f0;
  border-radius: 12px;
  height: 40px;
  width: 40px;
  top: 5px;
  left: 5px;
  position: relative;
}

ol, ul {
  padding-left: 30px;
  margin: 0;
}

/* SL Profile */
.avatar-border {
  width: 75px;
  height: 75px;
  background-position: center;
  background-size: auto;
  background-size: 118%;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0, 0, 0, .7);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .7);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .7);
  border-radius: 100%;
}
