.nicescroll-rails {
  background: #c6dcff !important;
  border-radius: 10px !important;
}

.nicescroll-cursors {
  background: #4b90ff !important;
  border-radius: 3px !important;
  width: 6px !important;
}