@charset "utf-8";


table {
  border: 1px solid #1e87f0;
  border-collapse: collapse;
}
thead tr {
  background-color: #1e87f0;
}
th, td {
  border: 1px solid #1e87f0;
  padding: 2px 5px;
}

th {
  font-weight: bold;
  text-align: -internal-center;
  color: white!important;
}

td.card-number {
  width: 60px;
  font-weight: bold;
}
td.unit-name {
  width: 300px;
}
td.card-skill-name {
  width: 250px;
}
td.card-attribute {
  width: 100px;
}

h2, h3, h4, h5 {
  background-color: white;
  margin-top: 1em;
  margin: 0;
}

ol, ul {
  padding-left: 30px;
  margin: 0;
}

.uk-tab>*>a {
  display: block;
  text-align: center;
  padding: 5px 10px;
  color: #999;
  border-bottom: 1px solid transparent;
  font-size: 25px;
  text-transform: uppercase;
  transition: color .1s ease-in-out;
}
