@charset "utf-8";

table {
  border: 1px solid #1e87f0;
  border-collapse: collapse;
}
thead tr {
  background-color: #1e87f0;
}
th, td {
  border: 1px solid #1e87f0;
  padding: 2px 5px;
}

th {
  font-weight: bold;
  text-align: -internal-center;
  color: white!important;
}

td.card-number {
  font-weight: bold;
}
.uk-tab>*>a {
  font-size: 18px;
  text-transform: uppercase;
}

#body {
  margin: 5px 3px 5px;
  padding: 0 19px 0 13px;
  position: relative;
  height: calc(100vh - 120px);
}
