extends ../../includes/head.pug

block body
  #outer
    #inner
      #header
        include ../../includes/header.pug
            
      #body
        div(class="uk-container uk-container-small uk-margin-top")
          center
           h3 STILL WIP
          div(class="uk-text-center" uk-grid)
            div
              a(class="uk-button uk-button-primary" href="./secretbox") Add Secretbox
  include ../../includes/changeLanguage.pug