extends ../../includes/head.pug

block body
  style.
    .uk-form-label {
      font-size: 1.1rem;
    }
  
  #outer
    #inner
      #header
        include ../../includes/header.pug
            
      #body
        form(id="main-form" class="uk-container uk-container-small uk-form-stacked uk-margin")
          .uk-margin
            label(for="sb-name" class="uk-form-label") Название:
            input(id="sb-name" class="uk-input uk-border-pill")

          .uk-margin
            label(for="sb-type" class="uk-form-label") Тип:
            select(id="sb-type" class="uk-select uk-border-pill")
              option(value="0") Default
              option(value="5") Stub

          .uk-margin
            label(for="sb-member-category" class="uk-form-label") Группа:
            select(id="sb-member-category" class="uk-select uk-border-pill")
              option(value="1") μ's
              option(value="2") Aqours
              option(value="0") Both

          .uk-margin
            label(for="sb-start-date" class="uk-form-label") Start Date:
            input(id="sb-start-date" class="uk-input uk-border-pill" placeholder="YYYY-MM-DD mm:hh:ss")
          .uk-margin
            label(for="sb-end-date" class="uk-form-label") End Date:
            input(id="sb-end-date" class="uk-input uk-border-pill" placeholder="YYYY-MM-DD mm:hh:ss")

          .uk-margin
            input(id="sb-always-display-flag" type="checkbox" class="uk-checkbox")
            label(for="sb-always-display-flag")  Скрывать, если на коробку не хватает средств
            br
            input(id="sb-show-end-date-flag" type="checkbox" class="uk-checkbox")
            label(for="sb-show-end-date-flag")  Показывать дату отключения(?) коробки

          h3 Оформление
          ul(id="assets" class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@s uk-margin" uk-grid hidden)
          button(id="addAssets" type="button" class="uk-icon-button" uk-icon="icon: plus; ratio: 1.5")
          
          h3 Кнопки
          ul(id="buttons" class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@s uk-margin" uk-grid hidden)
          button(id="addButton" type="button" class="uk-icon-button" uk-icon="icon: plus; ratio: 1.5")

          h3 Карты
          ul(id="groups" class="uk-grid-small uk-child-width-1-1 uk-child-width-1-2@s uk-margin" uk-grid hidden)
          button(id="addGroup" type="button" class="uk-icon-button" uk-icon="icon: plus; ratio: 1.5")

          h3 Гаранты
          ul(id="guarantee" class="uk-grid-small uk-child-width-1-2 uk-child-width-1-3@s uk-margin" uk-grid hidden)
          button(id="addGuarantee" type="button" class="uk-icon-button" uk-icon="icon: plus; ratio: 1.5")

          .uk-margin
            button(type="submit" class="uk-button uk-border-pill uk-button-primary") Send
  
  // templates for runtime
  #assetsTemplate(hidden)
    li(class="secretbox-assets")
      div(class="uk-card uk-card-default uk-card-body")
        .uk-margin
          label(for="sb-anim-{{id}}" class="uk-form-label") Анимация перехода:
          select(id="sb-anim-{{id}}" class="uk-select uk-border-pill")
            option(value="1") Default type A
            option(value="2") Default type B
            option(value="3") Simple
            option(value="4") Select
            option(value="5") Box Type A
            option(value="6") Box Type B
        
        .uk-margin
          label(for="sb-menu-{{id}}" class="uk-form-label") Menu:
          input(id="sb-menu-{{id}}" class="uk-input uk-border-pill" value="assets/image/secretbox/icon/")
        .uk-margin
          label(for="sb-menu-se-{{id}}" class="uk-form-label") Menu SE:
          input(id="sb-menu-se-{{id}}" class="uk-input uk-border-pill" value="assets/image/secretbox/icon/")
        .uk-margin
          label(for="sb-bg-{{id}}" class="uk-form-label") Background:
          input(id="sb-bg-{{id}}" class="uk-input uk-border-pill" value="assets/image/secretbox/background/")
        .uk-margin
          label(for="sb-navi-{{id}}" class="uk-form-label") Navi:
          input(id="sb-navi-{{id}}" class="uk-input uk-border-pill" value="assets/image/secretbox/navi/")
        .uk-margin
          label(for="sb-title-{{id}}" class="uk-form-label") Title:
          input(id="sb-title-{{id}}" class="uk-input uk-border-pill" value="assets/image/secretbox/title/")
        .uk-margin(class="appeal")
          label(for="sb-appeal-{{id}}" class="uk-form-label") Appeal:
          input(id="sb-appeal-{{id}}" class="uk-input uk-border-pill" value="assets/image/secretbox/appeal/appeal_0.png")

  #buttonTemplate(hidden)
    li(class="secretbox-button")
      div(class="uk-card uk-card-default uk-card-body")
        .uk-margin
          label(class="uk-form-label") Название кнопки:
          input(id="sb-button-name-{{button}}" class="uk-input uk-border-pill" value="{{name}}")
        .uk-margin
          label(class="uk-form-label") Тип:
          select(id="sb-button-type-{{button}}" class="uk-select uk-border-pill")
            option(value="1") Solo
            option(value="2") Multi
            option(value="9" hidden) Stub A
            option(value="10" hidden) Stub B
            option(value="11" hidden) Stub C
        .uk-margin
          label(class="uk-form-label") Balloon asset:
          input(id="sb-button-balloon-{{button}}" class="uk-input uk-border-pill" value="assets/image/secretbox/balloon/")
        h4 Costs
        div(id="costList-{{button}}")
        button(id="addButtonCost-{{button}}" type="button" class="uk-icon-button" uk-icon="icon: plus")

  #costTemplate(hidden)
    div(class="secretbox-cost")
      .uk-margin
        label(class="uk-form-label") Способ оплаты:
        select(id="sb-cost-type-{{button}}-{{cost}}" class="uk-select uk-border-pill")
          option(value="1") Loveca
          option(value="2") Item
          option(value="3") Coins
          option(value="4") Social Points
      .uk-margin(id="sb-cost-item-selector-{{button}}-{{cost}}" hidden)
        label(class="uk-form-label") Предмет:
        select(id="sb-cost-item-{{button}}-{{cost}}" class="uk-select uk-border-pill")
          each item in itemList
            option(value=item.item_id) !{item.name} (ID: !{item.item_id})
      .uk-margin
        label(class="uk-form-label") Стоимость:
        input(id="sb-cost-amount-{{button}}-{{cost}}" class="uk-input uk-border-pill" value="1")
      .uk-margin
        label(class="uk-form-label") Количество карт:
        input(id="sb-cost-card-cnt-{{button}}-{{cost}}" class="uk-input uk-border-pill" value="1")
      .uk-margin
        input(id="sb-cost-hide-{{button}}-{{cost}}" type="checkbox" class="uk-checkbox")
        label(for="sb-cost-hide-{{button}}-{{cost}}")  Скрывать, если не хватает средств

  #groupTemplate(hidden)
    li(class="secretbox-group")
      div(class="uk-card uk-card-default uk-card-body")
        .uk-margin
          label(for="sb-group-rarity-{{id}}" class="uk-form-label") Редкость:
          select(id="sb-group-rarity-{{id}}" class="uk-select uk-border-pill")
            option(value="1") N
            option(value="2") R
            option(value="3") SR
            option(value="5") SSR
            option(value="4") UR
        
        .uk-margin
          label(for="sb-group-weight-{{id}}" class="uk-form-label") Вес редкости:
          input(id="sb-group-weight-{{id}}" class="uk-input uk-border-pill")
        .uk-margin(id="group-stub-{{id}}" hidden)
          label(for="sb-group-btype-{{id}}" class="uk-form-label") Использовать для кнопки:
          select(id="sb-group-btype-{{id}}" class="uk-select uk-border-pill")
            option(value="9") Stub A
            option(value="10") Stub B
            option(value="11") Stub C
        h4 Unit families
        div(id="familyList-{{id}}")
        button(id="addFamily-{{id}}" type="button" class="uk-icon-button" uk-icon="icon: plus")

  #familyTemplate(hidden)
    div(class="group-family")
      .uk-margin
        label(for="sb-family-weight-{{group}}-{{family}}" class="uk-form-label") Вес:
        input(id="sb-family-weight-{{group}}-{{family}}" class="uk-input uk-border-pill")
      .uk-margin
        label(for="sb-family-query-{{group}}-{{family}}" class="uk-form-label") Запрос:
        input(id="sb-family-query-{{group}}-{{family}}" class="uk-input uk-border-pill" placeholder="rarity = 4 AND unit_type_id IN (1,2,3,4,5,6,7,8,9)")
  
  #guaranteeTemplate(hidden)
    li(class="secretbox-guarantee")
      div(class="uk-card uk-card-default uk-card-body")
        .uk-margin
          label(for="sb-guarantee-rarity-{{id}}" class="uk-form-label") Редкость:
          select(id="sb-guarantee-rarity-{{id}}" class="uk-select uk-border-pill")
            option(value="1") N
            option(value="2") R
            option(value="3") SR
            option(value="5") SSR
            option(value="4") UR
        .uk-margin
          label(for="sb-guarantee-count-{{id}}" class="uk-form-label") Количество гарантированных карт:
          input(id="sb-guarantee-count-{{id}}" class="uk-input uk-border-pill" value="1")

  include ../../includes/changeLanguage.pug