nav(class="uk-navbar-container sl-navbar-container", style="z-index:1000", uk-navbar)
  div(class="uk-navbar-left")
    ul(class="uk-navbar-nav")
      li
        a(uk-icon="menu")
        div(class="uk-width-auto uk-navbar-dropdown")
          ul(class="uk-nav uk-navbar-dropdown-nav")
            li(class="uk-active")
              a(href="/webview.php/announce/index")
                span(uk-icon="home", class="uk-icon")

            li(class="uk-active")
              a(href="/webview.php/profile/index")
                span(uk-icon="home", class="uk-icon")

            li(class="uk-active")
              a(href="/webview.php/settings/index")
                span(uk-icon="home", class="uk-icon")
  div(class="uk-navbar-center")
