nav(class="uk-navbar-container sl-navbar-container uk-position-z-index" uk-navbar)
  .uk-navbar-left
    if backButtonLink
      a(id="backButton" href=backButtonLink class="uk-icon uk-icon-button sl-icon" uk-icon="icon: arrow-left; ratio: 1.5" hidden)
    else if languageButton
      ul(class="uk-navbar-nav")
        li
          a(id="changeLanguageButton")
            span(uk-icon="world" class="uk-icon")
    else if !disableMenu
      include ./header/left.pug
  
  .uk-navbar-center
    ul(class="uk-navbar-nav")
      li(class="uk-active")
        - var upperCaseClass = "uk-text-uppercase"
        if headerLowerCase
          - upperCaseClass = ""
        a(class="uk-text-bold no-hover " + upperCaseClass) #{pageTitle}

  .uk-navbar-right
    if (backButtonLink || hideIcon) && languageButton
      ul(class="uk-navbar-nav")
        li
          a(id="changeLanguageButton")
            span(uk-icon="world" class="uk-icon")
    else if !hideIcon
      include ./header/right.pug