<nav class="uk-navbar-container sl-navbar-container" style="z-index:1000;" uk-navbar>

  <div class="uk-navbar-left">
    <ul class="uk-navbar-nav">
      <li>
        <a id="changeLanguage"><span uk-icon="world" class="uk-icon"></span></a>
      </li>
    </ul>
  </div>

  <div class="uk-navbar-center">
    <ul class="uk-navbar-nav">
      <li class="uk-active"><a class="uk-text-bold no-hover" style="text-transform: none;">{{i18n/pageName}}</a></li>
    </ul>
  </div>
</nav>