extends ../../includes/head.pug

block body
  #outer
    #inner
      #header
        - var hideIcon = true
        - var backButtonLink = "/webview.php/announce/index?id=" + announce.id
        include ../../includes/header.pug
            
      #body
        div(class="uk-container uk-container-expand") !{announce.body}
          div(style="text-align: right; margin-bottom: 25px;") !{announce.date}