<div id="outer">
  <div id="inner">
    <div id="header">
      <nav class="uk-navbar-container sl-navbar-container" uk-navbar>
        <div class="uk-navbar-center">
          <ul class="uk-navbar-nav">
            <li class="uk-active"><a class="uk-text-bold no-hover">Terms of Use</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div id="body">
      <div id="bodywrapper">
        {{{tos}}}
      </div>
    </div>
  </div>
</div>

<script>
  $(function () {
    if (window.history.length != 1) $(".sl-navbar-container").prepend('<div class="uk-navbar-left"><a onclick="window.history.back()" class="uk-icon uk-icon-button sl-icon" uk-icon="icon: arrow-left; ratio: 1.5"></a></div>')
    if (!external) {
      $('a[href^="http"]').each(function () {
        $(this).attr("href", "native://browser?url=" + encodeURIComponent($(this).attr("href")))
      })
    }
  })
</script>